html,
body {
  height: 100%;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 51.1111111111rem;
}
.container--section, .container--features, .container--reviews, .container--hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container--hero {
  justify-content: space-between;
  background: url(../img/headphones.png) right center/50% auto no-repeat;
}
.container--features, .container--reviews {
  justify-content: center;
}
.container--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .container--hero {
    background: url(../img/headphones.png) center top 30%/50% no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .container--hero {
    background: url(../img/headphones.png) center top 20%/70% no-repeat;
  }
}
body {
  font-family: "Play", sans-serif;
  font-size: 1rem;
}

.title--main {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 2.8888888889rem;
  text-transform: uppercase;
}

.title--small {
  font-size: 1.3333333333rem;
  font-weight: 700;
}

.title--white {
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .title--main {
    font-size: 1.7777777778rem;
    line-height: 2rem;
  }
}
.hero {
  background-color: #f5f5f5;
  padding-bottom: 2.8888888889rem;
  padding-top: 1.3333333333rem;
  height: 100vh;
  min-height: 36.1111111111rem;
  position: relative;
}
.hero:after {
  display: block;
  content: "";
  width: 2.5555555556rem;
  height: 0.5555555556rem;
  position: absolute;
  background-color: #c4c4c4;
  bottom: -0.2222222222rem;
  right: 6.8888888889rem;
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding: 0 40px;
  width: 100%;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .header__menu, .header__contacts {
    display: none;
  }
  .header__header__nav {
    display: block;
  }
}

.intro {
  display: flex;
}
.intro__content {
  width: 60%;
}
.intro__title {
  width: 70%;
  padding-top: 2.5555555556rem;
  margin-bottom: 1.2222222222rem;
}
.intro__subtitle {
  width: 70%;
  font-size: 1.1666666667rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 70%;
  }

  .intro__title {
    width: 90%;
    text-align: center;
  }

  .intro__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .intro__subtitle {
    width: 80%;
    font-size: 1rem;
    line-height: 1.1111111111rem;
  }

  .intro__title {
    width: 80%;
  }
}
.features {
  padding-top: 5.7222222222rem;
  position: relative;
  padding-bottom: 4.3333333333rem;
  height: 100vh;
  min-height: 36.1111111111rem;
}
.features:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 3.3333333333rem;
  border: 1.6666666667rem solid transparent;
  border-left-color: #e01f3d;
  border-right-width: 0;
  transform: rotate(20deg);
  border-bottom-width: 1.6666666667rem;
  border-top-width: 1.6666666667rem;
}
.features__list {
  display: flex;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 3%;
  max-width: 33.33%;
}
.features__item:first-child {
  padding-left: 0;
}
.features__item:last-child {
  padding-right: 0rem;
}
.features__item:not(:last-child)::after {
  content: url(../img/icons/icon-separator.png);
  position: absolute;
  top: 1.6666666667rem;
  right: 0%;
  transform: translateX(50%);
}
.features__content {
  text-align: center;
}
.features__item-title {
  margin-bottom: 0.3888888889rem;
}
.features__item-text {
  color: #666666;
}
.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3.4444444444rem;
}
.features__title {
  margin-bottom: 1rem;
}
.features__subtitle {
  width: 60%;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  color: #666666;
}
.features__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f5f4;
  border-radius: 50%;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  margin-bottom: 1.3333333333rem;
}
.features__img:before {
  display: block;
  content: "";
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
}
.features__img--1:before {
  background: url("../img/icons/icon-feature-1.png") no-repeat center;
}
.features__img--2:before {
  background: url("../img/icons/icon-feature-2.png") no-repeat center;
}
.features__img--3:before {
  background: url("../img/icons/icon-feature-3.png") no-repeat center;
}

.reviews {
  height: 100vh;
  padding-top: 3.5555555556rem;
  padding-bottom: 3.5rem;
}
.reviews__item {
  margin-bottom: 0.8333333333rem;
}
.reviews__title {
  text-align: center;
  margin-bottom: 1.7777777778rem;
}
.reviews__btns {
  display: flex;
  justify-content: center;
}
.reviews__btn {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.3333333333rem;
  cursor: pointer;
  border: 0.2222222222rem solid transparent;
}
.reviews__btn--active {
  border: 0.2222222222rem solid #e01f3d;
}

.form {
  height: 100vh;
  padding-top: 3.7777777778rem;
  padding-bottom: 4.7222222222rem;
  color: #ffffff;
  background: url("../img/bg/bg-form.png") no-repeat center;
  background-size: cover;
}
.form__title {
  text-align: center;
  margin-bottom: 3.2222222222rem;
}

.map {
  width: 100%;
  height: 100vh;
  background: url("../img/bg/bg-map.jpg") no-repeat center;
  background-size: contain;
}

.footer {
  padding-top: 1.1111111111rem;
  padding-bottom: 1rem;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin-right: 0.2777777778rem;
}
.menu__link {
  text-decoration: none;
  color: #292929;
}

.hamburger {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  display: none;
  align-items: center;
  cursor: pointer;
}
.hamburger__btn, .hamburger__btn:after, .hamburger__btn:before {
  background-color: #292929;
  border-radius: 0.1666666667rem;
  content: "";
  display: block;
  width: 100%;
  height: 0.2222222222rem;
  transition: all 0.2s ease-in-out;
}
.hamburger__btn:before {
  position: absolute;
  top: 0;
  left: 0;
}
.hamburger__btn:after {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
.btn {
  display: inline-block;
  background-color: #e01f3d;
  padding: 1rem 2.2777777778rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5.5555555556rem;
}
.btn:hover {
  background-color: #ca1b36;
}
.btn:focus {
  outline: 0.1666666667rem solid #e01f3d;
}
.btn--reset {
  color: #ffffff;
}
.btn--reset:focus {
  outline: 0.1666666667rem solid #e01f3d;
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 1.0555555556rem;
    padding: 1.1666666667rem 2rem;
  }
}
.scroll {
  position: fixed;
  top: 13.3333333333rem;
  right: 2.7222222222rem;
  z-index: 10;
}
.scroll__list {
  display: flex;
  flex-direction: column;
}
.scroll__item {
  display: block;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #292929;
  opacity: 0.6;
  margin-bottom: 0.7222222222rem;
  cursor: pointer;
  position: relative;
}
.scroll__item--active {
  background-color: #e01f3d;
  opacity: 1;
}
.scroll__item--active:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 0.8333333333rem;
  height: 0.8333333333rem;
  border: 0.1666666667rem solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review {
  background-color: #f8faf9;
  padding: 2.3333333333rem 2.3333333333rem 2.3333333333rem 1.6666666667rem;
  display: none;
  position: relative;
  overflow: hidden;
}
.review:before {
  display: block;
  content: "";
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -70%);
  background-color: #fff;
  border-radius: 50%;
}
.review--active {
  display: flex;
}
.review__img {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
}
.review__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.review__content {
  flex: 1;
  padding-top: 1.9444444444rem;
}
.review__title {
  margin-bottom: 1.5rem;
}
.review__text {
  color: #666666;
  margin-bottom: 2.5rem;
  width: 82%;
}
.review__author {
  font-size: 1rem;
  font-weight: 700;
}

.order {
  display: flex;
  justify-content: space-between;
  outline-color: #e01f3d;
}
.order__column {
  flex: 1;
}
.order__column:not(:last-child) {
  margin-right: 1.4444444444rem;
}
.order__row {
  display: flex;
  margin-bottom: 0.6111111111rem;
}
.order__row-radio {
  margin-bottom: 1.1666666667rem;
}
.order__row-checkbox {
  margin-bottom: 2.6666666667rem;
}
.order__input {
  width: 100%;
  display: block;
  height: 3.2222222222rem;
  border-radius: 0.2222222222rem;
  margin-top: 0.3333333333rem;
  overflow: hidden;
  border: 0.1666666667rem solid transparent;
}
.order__input:focus, .order__input:hover {
  outline: 0.1666666667rem solid transparent;
  border: 0.1666666667rem solid #e01f3d;
}
.order__input-label {
  cursor: pointer;
  width: 100%;
  display: block;
}
.order__label--top:not(:last-child) {
  margin-right: 0.8888888889rem;
}
.order__label--bottom:not(:last-child) {
  margin-right: 0.7222222222rem;
}
.order__textarea {
  min-height: 8.3333333333rem;
  margin-bottom: 1.4444444444rem;
}
.order__radio-label {
  display: block;
  position: relative;
  padding-left: 1.9444444444rem;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.order__radio-label:not(:last-child) {
  margin-right: 0.8888888889rem;
}
.order__radio {
  position: absolute;
  left: -555.5rem;
  cursor: pointer;
}
.order__checkmark {
  position: absolute;
  top: -0.2777777778rem;
  left: 0;
  height: 1.3888888889rem;
  width: 1.3888888889rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.order__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.7222222222rem;
  width: 0.7222222222rem;
  border-radius: 50%;
  background: #e01f3d;
}
.order__radio:checked ~ .order__checkmark:after {
  display: block;
}
.order__checkbox-label {
  display: block;
  position: relative;
  padding-left: 1.9444444444rem;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.order__checkbox {
  position: absolute;
  left: -555.5rem;
  cursor: pointer;
}
.order__custom-checkbox {
  position: absolute;
  top: -0.2777777778rem;
  left: 0;
  height: 1.3333333333rem;
  width: 1.3333333333rem;
  background-color: #ffffff;
  border-radius: 0.2222222222rem;
}
.order__custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.5555555556rem;
  width: 0.5555555556rem;
  background: url(../img/icons/icon-checkmark.png) no-repeat center;
  background-size: contain;
}
.order__checkbox:checked ~ .order__custom-checkbox:after {
  display: block;
}
.order__btns {
  display: flex;
  align-items: center;
}
.order__btn {
  margin-right: 0.8888888889rem;
}

.advantages__list {
  display: flex;
  flex-direction: row;
}
.advantages__item {
  max-width: 8.3333333333rem;
  position: relative;
  padding-left: 2.2222222222rem;
}
.advantages__item:not(:last-child) {
  margin-right: 0.4444444444rem;
}
.advantages--eyes:before {
  background: url("../img/icons/icon-eyes.png") no-repeat center;
  display: block;
  content: "";
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  position: absolute;
  left: -0.5555555556rem;
}
.advantages--battery:before {
  background: url("../img/icons/icon-battery.png") no-repeat center;
  display: block;
  content: "";
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  position: absolute;
  left: -0.5555555556rem;
}
.advantages--charge:before {
  background: url("../img/icons/icon-charge.png") no-repeat center;
  display: block;
  content: "";
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  position: absolute;
  left: -0.5555555556rem;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}
.contacts {
  position: relative;
}
.contacts__phone {
  text-decoration: none;
  color: #292929;
  padding: 1.1111111111rem;
}
.contacts__phone::before {
  display: block;
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  position: absolute;
  background: url(../img/icons/icon-phone.png) no-repeat center;
  left: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social__item {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  border-radius: 50%;
}
.social__item:not(:last-child) {
  margin-right: 0.5555555556rem;
}

.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.social__link:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.social__link--vk:before {
  background: url(../img/icons/icon-vk.png) center no-repeat;
  background-size: cover;
}
.social__link--f:before {
  background: url(../img/icons/icon-f.png) center no-repeat;
  background-size: cover;
}
.social__link--in:before {
  background: url(../img/icons/icon-in.png) center no-repeat;
  background-size: cover;
}
.social__link--t:before {
  background: url(../img/icons/icon-t.png) center no-repeat;
  background-size: cover;
}