.features {
  padding-top: 103px;
  position: relative;
  padding-bottom: 78px;
  height: 100vh;
  min-height: 650px;
  &:after {
    @include icon(0px, 0px);
    bottom: 0;
    left: 60px;
    border: 30px solid transparent;
    border-left-color: $color-secondary;
    border-right-width: 0;
    transform: rotate(20deg);
    border-bottom-width: 30px;
    border-top-width: 30px;
  }
  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 3%;
    max-width: 33.33%;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child)::after {
      content: url(../img/icons/icon-separator.png);
      position: absolute;
      top: 30px;
      right: 0%;
      transform: translateX(50%);
    }
  }

  &__content {
    text-align: center;
  }

  &__item-title {
    margin-bottom: 7px;
  }

  &__item-text {
    color: $color-ternary;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 62px;
  }

  &__title {
    margin-bottom: 18px;
  }
  &__subtitle {
    width: 60%;
    font-size: 16px;
    line-height: 19px;
    color: $color-ternary;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-bottom: 24px;
    &:before {
      @include icon(68px, 68px);
    }
  }

  @each $number in (1, 2, 3) {
    &__img--#{$number}:before {
      background: url("../img/icons/icon-feature-#{$number}.png")
        no-repeat
        center;
    }
  }
}
