.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    padding: 0 40px;
    width: 100%;
    flex: 1;
  }
  @media screen and (max-width: 768px) {
    &__menu,
    &__contacts {
      display: none;
    }
    &__header__nav {
      display: block;
    }
  }
}
