.hero {
  background-color: $color-grey;
  padding-bottom: 52px;
  padding-top: 24px;
  height: 100vh;
  min-height: 650px;
  position: relative;
  &:after {
    @include icon(46px, 10px);
    background-color: $color-grey-dark;
    bottom: -4px;
    right: 124px;
    transform: rotate(-45deg);
  }
}
