.intro {
  display: flex;
  background: url(../img/headphones.png) no-repeat right;
  background-size: contain;
  &__content {
    width: 60%;
  }

  &__title {
    width: 70%;
    padding-top: 46px;
    margin-bottom: 22px;
  }

  &__subtitle {
    width: 70%;
    font-size: 21px;
    margin-bottom: 36px;
  }

  &__btn {
    margin-bottom: 70px;
  }

  &__features-list {
    display: flex;
  }

  &__features-item {
    position: relative;
    padding-left: 40px;
  }

  @each $icon in (eyes, battery, charge) {
    &__features--#{$icon}:before {
      background: url("../img/icon-#{$icon}.png") no-repeat center;
      @include icon(41px, 41px);
      left: -10px;
    }
  }

  &__img {
    position: absolute;
    right: 30px;
    width: 43%;
    z-index: 1;

    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  // &__img-block {
  //   width: 40%;
  //   position: relative;
  // }

  // &__img {
  //   position: absolute;
  //   left: -20px;
  // }
}
