.intro {
  display: flex;
  &__content {
    width: 60%;
  }

  &__title {
    width: 70%;
    padding-top: rem(46px);
    margin-bottom: rem(22px);
  }

  &__subtitle {
    width: 70%;
    font-size: rem(21px);
    margin-bottom: rem(36px);
  }
}

@media screen and (max-width: 768px) {
  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 70%;
  }
  .intro__title {
    width: 90%;
    text-align: center;
  }

  .intro__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .intro__subtitle {
    width: 80%;
    font-size: rem(18px);
    line-height: rem(20px);
  }

  .intro__title {
    width: 80%;
  }
}
