.intro {
  display: flex;
  &__content {
    width: 60%;
  }

  &__title {
    width: 70%;
    padding-top: rem(46px);
    margin-bottom: rem(22px);
  }

  &__subtitle {
    width: 70%;
    font-size: rem(21px);
    margin-bottom: rem(36px);
  }

  &__img {
    position: absolute;
    right: rem(30px);
    width: 43%;
    z-index: 1;

    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}
