html,
body {
  height: 100%;
  font-size: $fontSize;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  overflow: hidden;
  min-width: rem(1100px);
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: rem(920px);
  &--section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &--hero {
    @extend .container--section;
    justify-content: space-between;
    background: url(../img/headphones.png) right center / 50% auto no-repeat;
  }
  &--features {
    @extend .container--section;
    justify-content: center;
  }
  &--reviews {
    @extend .container--features;
  }
  &--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
