body {
  font-family: "Play", sans-serif;
}

.title--main {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}

.title--small {
  font-size: 24px;
  font-weight: 700;
}

.title--white {
  color: $color-white;
}
