.advantages {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    max-width: rem(150px);
    position: relative;
    padding-left: rem(40px);

    &:not(:last-child) {
      margin-right: rem(8px);
    }
  }
  @each $icon in (eyes, battery, charge) {
    &--#{$icon}:before {
      background: url("../img/icons/icon-#{$icon}.png") no-repeat center;
      @include icon(rem(41px), rem(41px));
      left: rem(-10px);
    }
  }
}
