.btn {
  display: inline-block;
  background-color: $color-secondary;
  padding: 18px 41px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  border-radius: 100px;

  &:hover {
    background-color: #ca1b36;
  }
}
