.contacts {
  position: relative;
  &__phone {
    text-decoration: none;
    color: $color-primary;
    padding: rem(20px);
  }
  &__phone::before {
    @include icon(rem(14px), rem(14px));
    background: url(../img/icons/icon-phone.png) no-repeat center;
    left: 0;
  }
}
