.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    // margin-right: 27px;
  }

  &__link {
    text-decoration: none;
    color: $color-primary;
  }
}
