.order {
  display: flex;
  justify-content: space-between;
  outline-color: $color-secondary;
  &__column {
    flex: 1;
    &:not(:last-child) {
      margin-right: 26px;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 11px;
    &-radio {
      margin-bottom: 21px;
    }
    &-checkbox {
      margin-bottom: 48px;
    }
  }

  &__input {
    width: 100%;
    display: block;
    height: 58px;
    border-radius: 4px;
    margin-top: 6px;
    overflow: hidden;
    border: 3px solid transparent;

    &:focus,
    &:hover {
      outline: 3px solid transparent;
      border: 3px solid $color-secondary;
    }
  }

  &__input-label {
    cursor: pointer;
    width: 100%;
    display: block;
  }
  &__label--top:not(:last-child) {
    margin-right: 16px;
  }
  &__label--bottom:not(:last-child) {
    margin-right: 13px;
  }

  &__textarea {
    min-height: 150px;
    margin-bottom: 26px;
  }

  &__radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__radio {
    position: absolute;
    left: -9999px;
    cursor: pointer;
  }
  &__checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color-white;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background: $color-secondary;
    }
  }

  &__radio:checked ~ &__checkmark:after {
    display: block;
  }

  &__checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
  }

  &__checkbox {
    position: absolute;
    left: -9999px;
    cursor: pointer;
  }

  &__custom-checkbox {
    position: absolute;
    top: -5px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $color-white;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
      background: url(../img/icons/icon-checkmark.png) no-repeat center;
      background-size: contain;
    }
  }
  &__checkbox:checked ~ &__custom-checkbox:after {
    display: block;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 16px;
  }
}
