$color-primary: #292929;
$color-secondary: #e01f3d;
$color-ternary: #666666;
$color-white: #ffffff;

$color-grey: #f5f5f5;
$color-grey-light: #f2f5f4;
$color-grey-dark: #c4c4c4;
$color-grey-icons: #b3b3b3;
$color-grey-lighter: #f8faf9;
